div.card {
  border-radius: 3px;
  border: 3px solid black;
  width: 20em;
  height: 23em;
  margin: 2em;
  padding: 1em;
}

div.welcome {
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

